<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="HandheldFriendly" content="true" />
    <title>Know More</title>
    <link rel="icon" href="./images/logo.png" type="image/x-icon" />
    <!-- LATEST BOOSTRAP -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <!-- FONTS  -->
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap"
      rel="stylesheet"
    />
    <!-- CUSTOM CSS  -->
    <link rel="stylesheet" href="styles.css" />
    <link rel="stylesheet" href="faq.css" />
    <!-- --------- -->
  </head>
  <body>
    <!-- NAVBAR -->
    <div id="navbarr"></div>
    <!-- ------------- -->
    <!-- Animated SVG section -->
    <div class="svgs">
      <div class="container">
        <div class="row">
          <div class="col-12 offset-0 offset-sm-3 col-sm-9">
            <h3 class="svgs-heading">GREEN</h3>
          </div>
          <div class="faq-content">
            <div class="col-8 offset-0 col-sm-4 offset-sm-3">
              <p>
                The future of the planet concerns all of us, and all of us
                should do what we can to protect it. You don't need a diploma to
                plant a tree.
              </p>
            </div>
            <div class="col-4">
              <object
                type="image/svg+xml"
                data="/images/earth_reponsive.svg"
              ></object>
            </div>
          </div>

          <div class="col-8 offset-4 offset-sm-6 col-sm-6">
            <h3 class="svgs-heading">FEET</h3>
          </div>
          <div class="faq-content">
            <div class="col-3 offset-0 col-sm-2 offset-sm-3">
              <object
                type="image/svg+xml"
                data="images/walk_responsive.svg"
              ></object>
            </div>

            <div class="col-8 col-sm-4 offset-1">
              <p>
                If you stand for what you stand on, then only your feet can do
                the walking into cleaner air! So, let us get started on this
                journey.
              </p>
            </div>
          </div>

          <div class="col-12 offset-0 offset-sm-3 col-sm-9">
            <h3 class="svgs-heading">CARE</h3>
          </div>
          <div class="faq-content">
            <div class="col-8 offset-0 col-sm-4 offset-sm-3">
              <p>
                It is time to return the favor of mother earth by planting more
                trees, by controlling pollution and making it a greener planet.
                Let us thank earth by taking care of it.
              </p>
            </div>
            <div class="col-4">
              <object
                type="image/svg+xml"
                data="/images/shield_responsive.svg"
              ></object>
            </div>
          </div>

          <div class="col-8 offset-4 offset-sm-6 col-sm-6">
            <h3 class="svgs-heading">REPEAT</h3>
          </div>
          <div class="faq-content">
            <div class="col-3 offset-0 col-sm-2 offset-sm-3">
              <object
                type="image/svg+xml"
                data="/images/recycle_responsive_3.svg"
              ></object>
            </div>

            <div class="col-8 col-sm-4 offset-1">
              <p>
                Green, plant a tree. Feet, take a stand for environmental
                issues. Care, take care of your planet. Green Feet Care Repeat!
                Green Feet Care Repeat! Green Feet Care Repeat!
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ---------- -->

    <!-- More Information section -->
    <div class="container" id="faq-info">
      <h3>What is air pollution?</h3>
      <p class="faq-para">
        Air pollution is a type of environmental pollution that affects the air
        and is usually caused by smoke or other harmful gases, mainly oxides of
        carbon, sulphur and nitrogen. In other words, air pollution is the
        contamination of air due to the presence or introduction of a substance
        which has a poisonous effect.
      </p>
      <h3>How does air pollution affect us?</h3>
      <p class="faq-para">
        The health effects of air pollution are serious – one third of deaths
        from stroke, lung cancer and heart disease are due to air pollution.
        This is having an equivalent effect to that of smoking tobacco, and much
        higher than, say, the effects of eating too much salt.
      </p>

      <h3>What you can do to prevent climate change?</h3>
      <ul>
        <li>
          If you drive your car for 40 kms a week, then try to reduce it to 25
          kms.
        </li>
        <li>
          If you fly for a total 20 hours annually, then try to reduce it to 10
          hours.
        </li>
        <li>Carpool as much as possible.</li>
        <li>Eat less non-veg meals.</li>
        <li>Source your food from local sources as much as possible.</li>
        <li>
          Reduce your food waste as much as possible and compost whatever you
          waste.
        </li>
        <li>Set your heater temperature to 18℃ and AC temperature to 24℃.</li>
        <li>Move to green energy for your household use.</li>
        <li>
          Stop using plastic bags and bottles, start using reusable bags and
          bottles.
        </li>
        <li>And obviously plant trees.</li>
      </ul>
    </div>
    <!-- ----------------- -->

    <!-- Footer -->
    <div id="footer">
      <div class="container">
        <span class="display-3 serious-peeps"
          >Serious<br />
          Peeps</span
        >
        <ul>
          <li>Triman Kaur</li>
          <li>Lakshay Khurana</li>
          <li>Bhaskar Mahajan</li>
        </ul>
      </div>
    </div>
    <!----------------- HTML DONE------------------ -->
    <!-- JavaScript -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <script>
      $(function () {
        $("#navbarr").load("navbar.html");
      });
    </script>
    <!-- ------------------------ -->
  </body>
</html>
